body {
  overflow-y: scroll;
  height: 100vh;
  background-color: rgba(245, 245, 220, 0.382);
}

main {
  display: flex;
  justify-content: center;
  min-height: 70vh;
  padding: 50px 0;
}

.container-fluid {
  background-color: #19033f;
}
table {
  text-align: center;
  border: black 1px solid;
  border-collapse: collapse;
  width: 50%;
  height: max-content;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: start;
  gap: 40px;
}
select {
  border-radius: 5px;
  width: 50%;
  height: 40px;
}

header img {
  height: 9vh;
}
header {
  height: 15vh;
  background-color: #19033f;
  display: grid;
  align-items: center;
}

td,
th {
  border: black solid 1px;
  border: rgba(0, 0, 0, 0.319) 1px solid;
  margin: 0;
  width: 20%;
}
tr:hover,
.nav-item:hover {
  background-color: rgba(255, 127, 80, 0.968);
}
th {
  background-color: rgba(255, 127, 80, 0.968);
}
tr {
  height: 10vh;
}
footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19033f;
  margin: 20px 0 0;
}
input {
  border-radius: 5px;
  height: 40px;
}
footer .row {
  display: flex;
  flex-direction: column;
}

footer .contact,
footer .copy {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #19033f27;
}
table tr:nth-child(even):hover {
  background-color: rgba(255, 127, 80, 0.968);
}
label {
  min-width: fit-content;
}
